{% extends 'main/layout.html' %}

{% block title %}Մեր մասին{% endblock %}

{% block content %}
     <div class="features">
        <h1>Մեր մասին</h1>
        <p>2011թ.-ից սկսած նախաձեռնել և իրականացնում է «Արմաթ» ճարտարագիտական աշխատանոցների ներդրման կրթական ծրագիրը: «Արմաթ»֊ը ոչ ֆորմալ տեխնոլոգիական հայկական ազգային կրթական ծրագիր է, որը միտված է վաղ տարիքից հասանելի դարձնել ճարտարագիտական ուսուցումը եւ ուժեցացնել դպրոցների բնագիտական առարկանների դասավանդման գիտելիքները։ ԱՏՁՄ-ն սկսել է տեխնոլոգիական կրթության հայկական մոդելի արտահանման գործընթացը արտերկիր:2023թ․-ի տվյալների համաձայն Հայաստանում (այդ թվում Արցախում), Վրաստանում, Հնդկաստանում, Ֆրանսիայում, ԱՄՆ֊ում, Քուվեյթում, Բանգլադեշում, Էսվատինիում գործում է 630 «Արմաթ» ճարտարագիտական աշխատանոցներ, որտեղ շուրջ 17,000 երեխա ստանում է ճարտարագիտական կրթություն։</p>
        <a href="{% url 'news_home' %}"><button class="btn btn-danger">Նորություններ</button></a>
    </div>
{% endblock %}